form [name="quantity"] {
  width: 10ch;
}
form [name="label"] {
  width: 10ch;
}
form [name="unit"] {
  width: 10ch;
}
form [name="vat_rate"] {
  width: 10ch;
}
form [name="price"] {
  width: 12ch;
}
form [name="tax"] {
  width: 12ch;
}
