{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/npm", {
      "npmPublish": false
    }],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ]
  ]
}