.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.horizontal label{
  font-size: small;
  margin-bottom: 0px;
}
.btnSubmit{
  margin-top: 24px;
}
